### **Importing Dataset**

In [32]:
# Importing dataset
import pandas as pd
UserDetails=pd.read_excel('https://github.com/Pragyansubehera/upliance_ai_assignment/raw/refs/heads/main/Assignment%20(1).xlsx',sheet_name="UserDetails.csv")
CookingSessions=pd.read_excel('https://github.com/Pragyansubehera/upliance_ai_assignment/raw/refs/heads/main/Assignment%20(1).xlsx',sheet_name="CookingSessions.csv")
OrderDetails=pd.read_excel('https://github.com/Pragyansubehera/upliance_ai_assignment/raw/refs/heads/main/Assignment%20(1).xlsx',sheet_name="OrderDetails.csv")

### Basic Data  Cleaning

## Step-1 ; Basic Summary

# for UserDetails csv

In [5]:
# for UserDetails csv
print(UserDetails.shape)
print(UserDetails.info())
print(UserDetails.head())

(10, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            10 non-null     object
 1   User Name          10 non-null     object
 2   Age                10 non-null     int64
 3   Location           10 non-null     object
 4   Registration Date  10 non-null     datetime64[ns]
 5   Phone              10 non-null     object
 6   Email              10 non-null     object
 7   Favorite Meal      10 non-null     object
 8   Total Orders       10 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 848.0+ bytes
None
  User ID      User Name  Age       Location Registration Date         Phone  \
0    U001  Alice Johnson   28       New York        2023-01-15  123-456-7890
1    U002      Bob Smith   35    Los Angeles        2023-02-20  987-654-3210
2    U003    Charlie Lee   42        Chicago        2023-03-10  555-123-4567
3    U004    David Brown   27  San Francisco        2023-04-05  444-333-2222
4    U005     Emma White   30        Seattle        2023-05-22  777-888-9999

               Email Favorite Meal  Total Orders
0    alice@email.com        Dinner            12
1      bob@email.com         Lunch             8
2  charlie@email.com     Breakfast            15
3    david@email.com        Dinner            10
4     emma@email.com         Lunch             9

In [15]:
print(UserDetails.dtypes)

User ID                      object
User Name                    object
Age                           int64
Location                     object
Registration Date    datetime64[ns]
Phone                        object
Email                        object
Favorite Meal                object
Total Orders                  int64
dtype: object

In [7]:
print(UserDetails.columns)

Index(['User ID', 'User Name', 'Age', 'Location', 'Registration Date', 'Phone',
       'Email', 'Favorite Meal', 'Total Orders'],
      dtype='object')

*   Categorical - 'User Name', 'Location', 'Registration Date', 'Phone', 'Email', 'Favorite Meal'
*   Discrete - 'User ID','age'
*   Continuous - Total Orders

# for CookingSessions csv

In [10]:
# for CookingSessions csv
print(CookingSessions.shape)
print(CookingSessions.info())
print(CookingSessions.head())

(16, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Session ID       16 non-null     object
 1   User ID          16 non-null     object
 2   Dish Name        16 non-null     object
 3   Meal Type        16 non-null     object
 4   Session Start    16 non-null     datetime64[ns]
 5   Session End      16 non-null     datetime64[ns]
 6   Duration (mins)  16 non-null     int64
 7   Session Rating   16 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None
  Session ID User ID        Dish Name  Meal Type       Session Start  \
0       S001    U001        Spaghetti     Dinner 2024-12-01 19:00:00
1       S002    U002     Caesar Salad      Lunch 2024-12-01 12:00:00
2       S003    U003  Grilled Chicken     Dinner 2024-12-02 19:30:00
3       S004    U001         Pancakes  Breakfast 2024-12-02 07:30:00
4       S005    U004     Caesar Salad      Lunch 2024-12-03 13:00:00

          Session End  Duration (mins)  Session Rating
0 2024-12-01 19:30:00               30             4.5
1 2024-12-01 12:20:00               20             4.0
2 2024-12-02 20:10:00               40             4.8
3 2024-12-02 08:00:00               30             4.2
4 2024-12-03 13:15:00               15             4.7

In [14]:
print(CookingSessions.dtypes)

Session ID                 object
User ID                    object
Dish Name                  object
Meal Type                  object
Session Start      datetime64[ns]
Session End        datetime64[ns]
Duration (mins)             int64
Session Rating            float64
dtype: object

In [9]:
print(CookingSessions.columns)

Index(['Session ID', 'User ID', 'Dish Name', 'Meal Type', 'Session Start',
       'Session End', 'Duration (mins)', 'Session Rating'],
      dtype='object')

*   Categorical -, 'Dish Name', 'Meal Type', 'Session Start',
       'Session End', 'Session Rating'
*   Discrete -  'Session ID', 'User ID'
*   Continuous -  'Duration (mins)'

# for OrderDetails csv

In [17]:
# for OrderDetails csv
print(OrderDetails.shape)
print(OrderDetails.info())
print(OrderDetails.head())

(16, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      16 non-null     int64
 1   User ID       16 non-null     object
 2   Order Date    16 non-null     datetime64[ns]
 3   Meal Type     16 non-null     object
 4   Dish Name     16 non-null     object
 5   Order Status  16 non-null     object
 6   Amount (USD)  16 non-null     float64
 7   Time of Day   16 non-null     object
 8   Rating        14 non-null     float64
 9   Session ID    16 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 1.4+ KB
None
   Order ID User ID Order Date  Meal Type        Dish Name Order Status  \
0      1001    U001 2024-12-01     Dinner        Spaghetti    Completed
1      1002    U002 2024-12-01      Lunch     Caesar Salad    Completed
2      1003    U003 2024-12-02     Dinner  Grilled Chicken     Canceled
3      1004    U001 2024-12-02  Breakfast         Pancakes    Completed
4      1005    U004 2024-12-03      Lunch     Caesar Salad    Completed

   Amount (USD) Time of Day  Rating Session ID
0          15.0       Night     5.0       S001
1          10.0         Day     4.0       S002
2          12.5       Night     NaN       S003
3           8.0     Morning     4.0       S004
4           9.0         Day     4.0       S005

In [18]:
print(OrderDetails.dtypes)

Order ID                 int64
User ID                 object
Order Date      datetime64[ns]
Meal Type               object
Dish Name               object
Order Status            object
Amount (USD)           float64
Time of Day             object
Rating                 float64
Session ID              object
dtype: object

In [19]:
print(OrderDetails.columns)

Index(['Order ID', 'User ID', 'Order Date', 'Meal Type', 'Dish Name',
       'Order Status', 'Amount (USD)', 'Time of Day', 'Rating', 'Session ID'],
      dtype='object')

*   Categorical - 'Order Date', 'Meal Type', 'Dish Name',
       'Order Status', 'Time of Day', 'Rating'
*   Discrete - 'Order ID', 'User ID'
*   Continuous - 'Amount (USD)'


### Merging dataset

In [38]:
# First, merge OrderDetails and CookingSessions
CookingSessions_new=CookingSessions[['Session ID', 'Session Start', 'Session End', 'Duration (mins)', 'Session Rating']]
merged = pd.merge(OrderDetails, CookingSessions_new, on='Session ID', how='inner').reset_index(drop=True)

# Then, merge the result with UserDetails on 'User ID'
merged_dataset = pd.merge(merged, UserDetails, on='User ID', how='inner')

print(merged_dataset.head)

<bound method NDFrame.head of     Order ID User ID Order Date  Meal Type        Dish Name Order Status  \
0       1001    U001 2024-12-01     Dinner        Spaghetti    Completed
1       1002    U002 2024-12-01      Lunch     Caesar Salad    Completed
2       1003    U003 2024-12-02     Dinner  Grilled Chicken     Canceled
3       1004    U001 2024-12-02  Breakfast         Pancakes    Completed
4       1005    U004 2024-12-03      Lunch     Caesar Salad    Completed
5       1006    U002 2024-12-03     Dinner        Spaghetti    Completed
6       1007    U005 2024-12-04     Dinner  Grilled Chicken    Completed
7       1008    U003 2024-12-04      Lunch    Veggie Burger     Canceled
8       1009    U001 2024-12-05     Dinner  Grilled Chicken    Completed
9       1010    U002 2024-12-05  Breakfast          Oatmeal    Completed
10      1011    U003 2024-12-06  Breakfast         Pancakes    Completed
11      1012    U004 2024-12-06     Dinner        Spaghetti    Completed
12      1013    U005 2024-12-07      Lunch     Caesar Salad    Completed
13      1014    U006 2024-12-07     Dinner  Grilled Chicken    Completed
14      1015    U007 2024-12-08     Dinner        Spaghetti    Completed
15      1016    U008 2024-12-08      Lunch    Veggie Burger    Completed

    Amount (USD) Time of Day  Rating Session ID  ... Duration (mins)  \
0           15.0       Night     5.0       S001  ...              30
1           10.0         Day     4.0       S002  ...              20
2           12.5       Night     NaN       S003  ...              40
3            8.0     Morning     4.0       S004  ...              30
4            9.0         Day     4.0       S005  ...              15
5           14.0       Night     4.0       S006  ...              30
6           13.5       Night     4.0       S007  ...              45
7           11.0         Day     NaN       S008  ...              20
8           12.0       Night     5.0       S009  ...              40
9            7.0     Morning     4.0       S010  ...              10
10           8.5     Morning     4.0       S011  ...              30
11          12.5       Night     4.0       S012  ...              40
12           9.0         Day     4.0       S013  ...              30
13          13.0       Night     5.0       S014  ...              45
14          14.0       Night     5.0       S015  ...              40
15          11.0         Day     4.0       S016  ...              20

   Session Rating      User Name  Age       Location  Registration Date  \
0             4.5  Alice Johnson   28       New York         2023-01-15
1             4.0      Bob Smith   35    Los Angeles         2023-02-20
2             4.8    Charlie Lee   42        Chicago         2023-03-10
3             4.2  Alice Johnson   28       New York         2023-01-15
4             4.7    David Brown   27  San Francisco         2023-04-05
5             4.3      Bob Smith   35    Los Angeles         2023-02-20
6             4.6     Emma White   30        Seattle         2023-05-22
7             4.4    Charlie Lee   42        Chicago         2023-03-10
8             4.9  Alice Johnson   28       New York         2023-01-15
9             4.1      Bob Smith   35    Los Angeles         2023-02-20
10            4.6    Charlie Lee   42        Chicago         2023-03-10
11            4.7    David Brown   27  San Francisco         2023-04-05
12            4.4     Emma White   30        Seattle         2023-05-22
13            4.8    Frank Green   25         Austin         2023-06-15
14            5.0     Grace King   38         Boston         2023-07-02
15            4.3      Henry Lee   31          Miami         2023-08-11

           Phone              Email Favorite Meal Total Orders
0   123-456-7890    alice@email.com        Dinner           12
1   987-654-3210      bob@email.com         Lunch            8
2   555-123-4567  charlie@email.com     Breakfast           15
3   123-456-7890    alice@email.com        Dinner           12
4   444-333-2222    david@email.com        Dinner           10
5   987-654-3210      bob@email.com         Lunch            8
6   777-888-9999     emma@email.com         Lunch            9
7   555-123-4567  charlie@email.com     Breakfast           15
8   123-456-7890    alice@email.com        Dinner           12
9   987-654-3210      bob@email.com         Lunch            8
10  555-123-4567  charlie@email.com     Breakfast           15
11  444-333-2222    david@email.com        Dinner           10
12  777-888-9999     emma@email.com         Lunch            9
13  888-777-6666    frank@email.com        Dinner            7
14  999-888-7777    grace@email.com     Breakfast           14
15  101-202-3030    henry@email.com        Dinner            5

[16 rows x 22 columns]>

In [39]:
print(merged_dataset.head())

   Order ID User ID Order Date  Meal Type        Dish Name Order Status  \
0      1001    U001 2024-12-01     Dinner        Spaghetti    Completed
1      1002    U002 2024-12-01      Lunch     Caesar Salad    Completed
2      1003    U003 2024-12-02     Dinner  Grilled Chicken     Canceled
3      1004    U001 2024-12-02  Breakfast         Pancakes    Completed
4      1005    U004 2024-12-03      Lunch     Caesar Salad    Completed

   Amount (USD) Time of Day  Rating Session ID  ... Duration (mins)  \
0          15.0       Night     5.0       S001  ...              30
1          10.0         Day     4.0       S002  ...              20
2          12.5       Night     NaN       S003  ...              40
3           8.0     Morning     4.0       S004  ...              30
4           9.0         Day     4.0       S005  ...              15

  Session Rating      User Name  Age       Location  Registration Date  \
0            4.5  Alice Johnson   28       New York         2023-01-15
1            4.0      Bob Smith   35    Los Angeles         2023-02-20
2            4.8    Charlie Lee   42        Chicago         2023-03-10
3            4.2  Alice Johnson   28       New York         2023-01-15
4            4.7    David Brown   27  San Francisco         2023-04-05

          Phone              Email Favorite Meal Total Orders
0  123-456-7890    alice@email.com        Dinner           12
1  987-654-3210      bob@email.com         Lunch            8
2  555-123-4567  charlie@email.com     Breakfast           15
3  123-456-7890    alice@email.com        Dinner           12
4  444-333-2222    david@email.com        Dinner           10

[5 rows x 22 columns]

Popular dishes for each meal type

In [47]:
# Group by 'Meal Type' and 'Dish Name', and count 'Order ID'
Meal_wise_order_count=OrderDetails.groupby(['Meal Type','Dish Name'])['Order ID'].count().reset_index()

Meal_wise_order_count.rename(columns={'Order ID': 'Count of Order ID'}, inplace=True)

# Find the row with the maximum count of  'Order ID' i.e   for each 'Meal Type'
max_count_per_meal_type = Meal_wise_order_count.loc[a.groupby('Meal Type')['Order ID'].idxmax()].reset_index(drop=True)

print(max_count_per_meal_type)

   Meal Type        Dish Name  Count of Order ID
0  Breakfast         Pancakes                  2
1     Dinner  Grilled Chicken                  4
2      Lunch     Caesar Salad                  3

Demographic Factor influence user beheviour

In [50]:
# Group by 'Location' and 'Dish Name', and count 'Order ID'
Location_wise_order_count=merged_dataset.groupby(['Location','Dish Name'])['Order ID'].count().reset_index()

Location_wise_order_count.rename(columns={'Order ID': 'Count of Order ID'}, inplace=True)

print(Location_wise_order_count)

         Location        Dish Name  Count of Order ID
0          Austin  Grilled Chicken                  1
1          Boston        Spaghetti                  1
2         Chicago  Grilled Chicken                  1
3         Chicago         Pancakes                  1
4         Chicago    Veggie Burger                  1
5     Los Angeles     Caesar Salad                  1
6     Los Angeles          Oatmeal                  1
7     Los Angeles        Spaghetti                  1
8           Miami    Veggie Burger                  1
9        New York  Grilled Chicken                  1
10       New York         Pancakes                  1
11       New York        Spaghetti                  1
12  San Francisco     Caesar Salad                  1
13  San Francisco        Spaghetti                  1
14        Seattle     Caesar Salad                  1
15        Seattle  Grilled Chicken                  1